body {
  /* background-image: url("foodback.jpg"); */
  background-image: url(Backgrounds-Food-053.jpg);
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

#piepic {
  width: 150px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  background-color:rgba(121, 85, 18, 0.294);
}

#data-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#data-container img {
  border-radius: 75%;
  border-style: solid;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
  #data-container img {
    width: 70%;
  }
}

#data-container p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}